body {
    font-family: 'Open sans', sans-serif ;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* header */

.header {

}

.header-logo {

}

.header-nav {

}

.header-list {

}

.header-item {

}

.header-link {

}

.header-tel {

}

.header-btn {

}

/* hero */

.hero {

}

.hero-list {

}

.hero-item {

}

.hero-link {

}

.hero-pre-title {

}

.hero-title {

}

.hero-after-title {

}

/* abaut */

.abaut {

}

.abaut-list {

}

.abaut-item {

}

.abaut-pre-title{

}

.abaut-title {

}

.abaut-after-title {

}

.abaut-text {

}

.abaut-btn {

}

/* service */

.service {
    
}

.service-pre-title {

}

.service-title {

}

.service-list {

}

.service-item {

}

.service-text {

}

.service-price {

}

.service-btm {

}

/* reviews */

.reviews {

}

.reviews-list {

}

.reviews-item {

}

.reviews-price {

}

.reviews-prise-title {

}

.reviews-pre-title {

}

.reviews-title {

}

.reviews-after-title {

}

/* masters */

.masters {

}

.masters-pre-title {

}

.masters-title {

}

.masters-list {

}

.masters-item {

}


.masters-after-title {

}

.masters-text {

}

/* galery */

.galery {

}

.galery-text {

}

.galery-list {

}

.galeri-item {

}

/* form */

.form {

}

.form-title {
    
}

/* contacts */

.contacts {

}

.contacts-title {

}

.contacts-address {
    
}

.contacts-list {

}

.contacts-item {

}

.contacts-link {

}

.contacts-after-title {

}

.contacts-text {

}

/* footer */

.footer {

}

.footer-text {

}

.footer-list {

}

.footer-item {

}

.footer-link {

}